
@font-face {
  font-family: 'Tinos-Bold';
  src: url('Tinos-Bold.eot?#iefix') format('embedded-opentype'),  url('Tinos-Bold.woff') format('woff'), url('Tinos-Bold.ttf')  format('truetype'), url('Tinos-Bold.svg#Tinos-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
